<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h4>
        Edit Items
        <a routerLink="/" class="btn btn-danger float-end">Back</a>
      </h4>
    </div>
    <div class="card-body">
      <form #myform="ngForm" (ngSubmit)="updateData()">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" id="title" class="form-control" [(ngModel)]="data?.data.title" required />
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <input type="text" name="content" id="content" class="form-control" [(ngModel)]="data?.data.content"
            required />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary w-100">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>